.loginForm{
    margin: 15% 35%;
}

.form-error{
    color: red;
    size: A3;
}

.main-logout{
    margin: 0px 500px;
}

.message{
    color: #006b1b;
    text-align: center;
}

.error{
    color: red;
    text-align: center;
}

.buttonWR{
    margin: 1% 45%;
}

.my-custom-scrollbar {
    position: relative;
    margin: 3% 5%;
    width: 90%;
    height: 400px;
    border-radius: 10px 10px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
    background-color: white;
}

.timecontroldate{
    margin: 1% 40%;
    width: 15%;
}

.timecontrolbutton{
    width: 100px;
    position: absolute;
}

.pagin{
    margin: 0px 46%;
}
