{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

      <style>
           td, th {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid #000; /* Параметры рамки */
           }
           th {
            background: #afd792; /* Цвет фона */
            color: #333;  /* Цвет текста */
           }
           tbody tr:hover {
            background: #f3bd48; /* Цвет фона при наведении */
           }
      </style>


    <title>Main</title>
  </head>
  <body background="{% static 'img/background.jpg' %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if user.is_superuser %}
        <a class="navbar-brand" href="{% url 'admininfo' %}">ICL</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'main' %}">ICL</a>
    {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'timecontrol' %}">Time Contol <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
    <div>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'profile' %}">{{ user }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
      </ul>
    </div>
</nav>



<!-- Button trigger modal -->
<div class="buttonWR">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  WorkReport
</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WorkReport</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <form method="post" action="">
          {% csrf_token %}
          <div class="form-error">{{ form.non_field_errors }}</div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><b>Date</b></label>
              <input name="date" value="{{ date }}"  id="datetime" type="datetime-local" required>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><b>Project</b></label>

              <select name="project"  type="text" class="form-control" id="exampleInputPassword1" required>
                <option value="" selected disabled hidden>Choose here</option>
                {% for proj in projects %}
                    <option>{{ proj }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><b>Engineer</b></label>
              <select name="engineer"  type="text" class="form-control" id="exampleInputPassword1" required>
              <option value="" selected disabled hidden>Choose here</option>
                {% for engineer in engineers %}
                    <option>{{ engineer }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><b>Work Type</b></label>
              <select name="work_type"  type="text" class="form-control" id="exampleInputPassword1" required>
              <option value="" selected disabled hidden>Choose here</option>
                {% for work_type in work_types %}
                    <option>{{ work_type }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><b>Period</b></label>
              <div class="mb-3">
                  <button class="timeButt" onclick="document.getElementById('period').value = 10; return false">10</button>
                  <button class="timeButt" onclick="document.getElementById('period').value = 20; return false">20</button>
                  <button class="timeButt" onclick="document.getElementById('period').value = 40; return false">40</button>
                  <button class="timeButt" onclick="document.getElementById('period').value = 60; return false">60</button>
              </div>
              <input name="period"  type="number" class="form-control" id="period" required>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><b>Text</b></label>
              <textarea name="text"  type="" class="form-control" id="exampleInputPassword1"></textarea>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>

      </div>
    </div>
  </div>
</div>



<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Project</th>
        <th scope="col">Engineer</th>
        <th scope="col">Work Type</th>
        <th scope="col">Period</th>
        <th scope="col">Text</th>
      </tr>
    </thead>
    <tbody>
        {% for elem in page_obj %}
            <tr data-toggle="modal" data-target="#exampleModal{{ elem.0 }}">
                <td>{{ elem.1 }}</td>
                <td>{{ elem.2 }}</td>
                <td>{{ elem.3 }}</td>
                <td>{{ elem.4 }}</td>
                <td>{{ elem.5 }}</td>
                <td>{{ elem.6 }}</td>


                <div class="modal fade" id="exampleModal{{ elem.0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Изменение</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          <form method="post">
                            {% csrf_token %}
                              <input name="update_id" value="{{ elem.0 }}" type="hidden">
                              <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label"><b>Date</b></label>
                                  <input name="update_date" value="{{ date }}"  id="datetime" type="datetime-local" required>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label"><b>Project</b></label>

                                  <select name="update_project"  type="text" class="form-control" id="exampleInputPassword1" required>
                                    <option value="{{ elem.2 }}" selected="selected">{{ elem.2 }}</option>
                                    {% for proj in projects %}
                                        <option>{{ proj }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label"><b>Engineer</b></label>
                                  <select name="update_engineer"  type="text" class="form-control" id="exampleInputPassword1" required>
                                  <option value="{{ elem.3 }}" selected="selected">{{ elem.3 }}</option>
                                    {% for engineer in engineers %}
                                        <option>{{ engineer }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label"><b>Work Type</b></label>
                                  <select name="update_work_type" type="text" class="form-control" id="exampleInputPassword1" required>
                                  <option value="{{ elem.4 }}" selected="selected">{{ elem.4 }}</option>
                                    {% for work_type in work_types %}
                                        <option>{{ work_type }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label"><b>Period</b></label>
                                  <input value="{{ elem.5 }}" name="update_period" type="number" class="form-control" id="exampleInputPassword1" required>
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label"><b>Text</b></label>
                                  <textarea name="update_text" type="" class="form-control" id="exampleInputPassword1">{{ elem.6 }}</textarea>
                              </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                           </form>
                              <div class="modal-footer">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete" value="{{ elem.0 }}">
                                            <button type="submit" class="change-delete-button">Delete</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

            </tr>
        {% endfor %}
    </tbody>
  </table>

</div>

<div class="pagin">
<nav aria-label="Page navigation example">
  <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="" aria-label="Previous">
                    <span aria-hidden="true">{{ page }}&nbsp;of&nbsp;{{ page_obj.paginator.num_pages}}</span>
                    <span class="sr-only">Previous</span>
                </a>
        </li>


        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" href="" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        {% endif %}
  </ul>
</nav>
</div>>

</html>